html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.mint-green.main, .lilac.main, .sea-green.main, .pale-orange.main, .latte-foam.main, .light-gray.main, .cucumber.main, .powder-blue.main {
  height: 100px;
  font-weight: bold;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  position: relative; }
  .mint-green.main:after, .lilac.main:after, .sea-green.main:after, .pale-orange.main:after, .latte-foam.main:after, .light-gray.main:after, .cucumber.main:after, .powder-blue.main:after {
    position: absolute;
    top: 40%;
    width: 50%;
    left: 25%; }

.error.alerts, .warning.alerts, .success.alerts, .message.alerts {
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-size: 2rem;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.cancel.buttons, .confirm.buttons, .info.buttons, .disabled.buttons {
  border-radius: 5px;
  border: 1px solid #ffffff;
  padding: 10px;
  min-width: 100px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  outline: none;
  cursor: pointer;
  transition: all .5s; }

h1, h2, h3, h4, h5, h6 {
  font-family: "museo-sans-rounded", "Rockwell", serif; }

.cancel.buttons {
  background: #FFE3DB;
  color: #ff440f; }
  .cancel.buttons:after {
    content: "cancel"; }

.confirm.buttons {
  background: #DEF4E5;
  color: #45c16c; }
  .confirm.buttons:after {
    content: "confirm"; }

.info.buttons {
  background: #D6EEF5;
  color: #32aacd; }
  .info.buttons:after {
    content: "info"; }

.disabled.buttons {
  background: #EAEBEC;
  color: #7f858b;
  cursor: default; }
  .disabled.buttons:after {
    content: "disabled"; }
  .disabled.buttons:hover {
    border: 1px solid #ffffff; }

.cancel:hover {
  border: 1px solid #ff440f; }
.cancel:active {
  background: #ff6c42;
  color: #ffffff;
  transition: 0.1s; }

.confirm:hover {
  border: 1px solid #45c16c; }
.confirm:active {
  background: #6bce8b;
  color: #ffffff;
  transition: 0.1s; }

.info:hover {
  border: 1px solid #32aacd; }
.info:active {
  background: #5bbbd7;
  color: #ffffff;
  transition: 0.1s; }

.disabled:hover {
  border: 1px solid #7f858b; }
.disabled:active {
  background: #9a9ea3;
  color: #ffffff;
  transition: 0.1s; }

.mint-green.main {
  background: #DEF4E5;
  color: #45c16c; }
  .mint-green.main:after {
    content: "mint-green"; }

.lilac.main {
  background: #DCE0F2;
  color: #475cbb; }
  .lilac.main:after {
    content: "lilac"; }

.sea-green.main {
  background: #DCF0EF;
  color: #4db3ae; }
  .sea-green.main:after {
    content: "sea-green"; }

.pale-orange.main {
  background: #FFE3DB;
  color: #ff440f; }
  .pale-orange.main:after {
    content: "pale-orange"; }

.latte-foam.main {
  background: #F8EDD0;
  color: #dba821; }
  .latte-foam.main:after {
    content: "latte-foam"; }

.light-gray.main {
  background: #EAEBEC;
  color: #7f858b; }
  .light-gray.main:after {
    content: "light-gray"; }

.cucumber.main {
  background: #C5E2CE;
  color: #499260; }
  .cucumber.main:after {
    content: "cucumber"; }

.powder-blue.main {
  background: #D6EEF5;
  color: #32aacd; }
  .powder-blue.main:after {
    content: "powder-blue"; }

.error.alerts {
  background: #FFE3DB;
  color: #ff440f; }
  .error.alerts:after {
    content: "error"; }

.warning.alerts {
  background: #F8EDD0;
  color: #dba821; }
  .warning.alerts:after {
    content: "warning"; }

.success.alerts {
  background: #DEF4E5;
  color: #45c16c; }
  .success.alerts:after {
    content: "success"; }

.message.alerts {
  background: #D6EEF5;
  color: #32aacd; }
  .message.alerts:after {
    content: "message"; }

section {
  margin: 80px 0; }

body {
  padding: 10px;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1 {
  font-size: 39px;
  font-size: 2.44144rem;
  line-height: 42px;
  line-height: 2.625rem; }

h2 {
  font-size: 31px;
  font-size: 1.95313rem;
  line-height: 36px;
  line-height: 2.25rem; }

h3 {
  font-size: 25px;
  font-size: 1.5625rem;
  line-height: 30px;
  line-height: 1.875rem; }

h4 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem; }

h5 {
  font-size: 13px;
  font-size: 0.8rem;
  line-height: 18px;
  line-height: 1.125rem; }

h6 {
  font-size: 10px;
  font-size: 0.64rem;
  line-height: 12px;
  line-height: 0.75rem; }

body {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  max-width: 1600px;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 80%, transparent 80%), linear-gradient(to bottom, #000 1px, transparent 1px);
  background-size: 8.47458%, 100% 24px;
  background-origin: content-box, border-box;
  background-clip: content-box, border-box;
  background-position: left top; }
  @media (min-width: 480px) and (max-width: 768px) {
    .container {
      background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 80%, transparent 80%), linear-gradient(to bottom, #000 1px, transparent 1px);
      background-size: 26.31579%, 100% 24px;
      background-origin: content-box, border-box;
      background-clip: content-box, border-box;
      background-position: left top; } }
  @media (min-width: 768px) and (max-width: 1200px) {
    .container {
      background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 80%, transparent 80%), linear-gradient(to bottom, #000 1px, transparent 1px);
      background-size: 12.82051%, 100% 24px;
      background-origin: content-box, border-box;
      background-clip: content-box, border-box;
      background-position: left top; } }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

.color-palette {
  width: 23.72881%;
  float: left;
  margin-bottom: 1.69492%; }
  .color-palette:nth-child(4n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0; }
  .color-palette:nth-child(4n + 2) {
    margin-left: 25.42373%;
    margin-right: -100%;
    clear: none; }
  .color-palette:nth-child(4n + 3) {
    margin-left: 50.84746%;
    margin-right: -100%;
    clear: none; }
  .color-palette:nth-child(4n + 4) {
    margin-left: 76.27119%;
    margin-right: -100%;
    clear: none; }

.alerts {
  width: 49.15254%;
  float: left;
  margin-bottom: 1.69492%; }
  .alerts:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0; }
  .alerts:nth-child(2n + 2) {
    margin-left: 50.84746%;
    margin-right: -100%;
    clear: none; }

.app-colors:after {
  content: "";
  display: table;
  clear: both; }

.app-headers .body-copy {
  margin-top: 30px; }

.style-guide-heading {
  font-size: 30px;
  font-size: 3rem;
  padding-bottom: 30px;
  color: lightgray; }

/*# sourceMappingURL=main.css.map */
