
// ==========
// CLEARFIX FOR IE8 & ABOVE
// -----
// http://css-tricks.com/snippets/css/clear-fix/
// ==========

@mixin cf {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// ==========
// TYPE-SCALE
// -----
// Gets font-size and baseline from typography map located
// in variables/typography and creates the necessary
// font-size and line-height property in CSS with the
// compass vertical rhythm.
//
// This uses the @include adjust-font-size-to mixin and
// requires Compass Vertical Rhythm to be used.
//
// https://medium.com/p/8e51498c3713
// ==========
@mixin type-scale($scale, $map: $type-scale) {
  $font-size: map-get(map-get($map, $scale), font-size);
  $base-lines: map-get(map-get($map, $scale), base-lines);
  @include adjust-font-size-to($font-size, $base-lines);
}

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

// ========
// Generic component creation mixin -- mainly used as a base to create custom components
// ========

@mixin comp-gen($palette) {
	@each $name, $color in map-get($palettes, $palette) {
		.#{$name}.#{$palette} {
			background: $color;
			color: darken($color, 40%);
			@content;
			&:after {
				content: '#{$name}';
			}
			@if $name == disabled {
			cursor: default;
				&:hover {
					border: 1px solid $app-background;
				}
			}
		}
	}
}

// ========
// Custom Button Creation Mixin -- generates classes to be applied to any html element
// ========

@mixin button-base() {
  @include comp-gen(buttons) {
		@extend %button-defaults;
	}
}

@mixin custom-buttons($map) {
  @include button-base();
  @each $button, $button-color in $map {
    .#{$button} {
	    &:hover {
	    	border: 1px solid darken($button-color, 40%);
	    }
	    &:active {
	    	background: darken($button-color, 30%);
	    	color: $white;
	    	transition: 0.1s;
	    }
    }
  }
}

@include custom-buttons(map-get($palettes, buttons));

@include comp-gen(main) {
	@extend %color-palette-defaults;
}

@include comp-gen(alerts) {
	@extend %alert-panel-defaults;
}

