%color-palette-defaults {
	height: 100px;
	font-weight: bold;
	font-family: $body-font;
	text-align: center;
	position: relative;
	&:after {
		position: absolute;
		top: 40%;
		width: 50%;
		left: 25%;
	}
}

%alert-panel-defaults {
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	font-size: 2rem;
	font-family: $body-font;
}

%button-defaults {
	border-radius: 5px;
	border: 1px solid $app-background;
	padding: 10px;
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
	font-family: $body-font;
	outline: none;
  cursor: pointer;
  transition: all .5s;
}

// Define Heading styles

%base-heading-styles {
	font-family: $header-font;
}