/* line 6, ../../bower_components/meyer-reset/stylesheets/_meyer-reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 16, ../../bower_components/meyer-reset/stylesheets/_meyer-reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, ../../bower_components/meyer-reset/stylesheets/_meyer-reset.scss */
body {
  line-height: 1;
}

/* line 22, ../../bower_components/meyer-reset/stylesheets/_meyer-reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, ../../bower_components/meyer-reset/stylesheets/_meyer-reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../../bower_components/meyer-reset/stylesheets/_meyer-reset.scss */
blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 35, ../../bower_components/meyer-reset/stylesheets/_meyer-reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 40, ../../bower_components/meyer-reset/stylesheets/_meyer-reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../scss/components/utilities/_placeholders.scss */
.mint-green.main, .lilac.main, .sea-green.main, .pale-orange.main, .latte-foam.main, .light-gray.main, .cucumber.main, .powder-blue.main {
  height: 100px;
  font-weight: bold;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  position: relative;
}
/* line 7, ../scss/components/utilities/_placeholders.scss */
.mint-green.main:after, .lilac.main:after, .sea-green.main:after, .pale-orange.main:after, .latte-foam.main:after, .light-gray.main:after, .cucumber.main:after, .powder-blue.main:after {
  position: absolute;
  top: 40%;
  width: 50%;
  left: 25%;
}

/* line 15, ../scss/components/utilities/_placeholders.scss */
.error.alerts, .warning.alerts, .success.alerts, .message.alerts {
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-size: 2rem;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 23, ../scss/components/utilities/_placeholders.scss */
.cancel.buttons, .confirm.buttons, .info.buttons, .disabled.buttons {
  border-radius: 5px;
  border: 1px solid #ffffff;
  padding: 10px;
  min-width: 100px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  outline: none;
  cursor: pointer;
  transition: all .5s;
}

/* line 39, ../scss/components/utilities/_placeholders.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "museo-sans-rounded", "Rockwell", serif;
}

/* line 46, ../scss/components/utilities/_mixins.scss */
.cancel.buttons {
  background: #FFE3DB;
  color: #ff440f;
}
/* line 49, ../scss/components/utilities/_mixins.scss */
.cancel.buttons:after {
  content: "cancel";
}

/* line 46, ../scss/components/utilities/_mixins.scss */
.confirm.buttons {
  background: #DEF4E5;
  color: #45c16c;
}
/* line 49, ../scss/components/utilities/_mixins.scss */
.confirm.buttons:after {
  content: "confirm";
}

/* line 46, ../scss/components/utilities/_mixins.scss */
.info.buttons {
  background: #D6EEF5;
  color: #32aacd;
}
/* line 49, ../scss/components/utilities/_mixins.scss */
.info.buttons:after {
  content: "info";
}

/* line 46, ../scss/components/utilities/_mixins.scss */
.disabled.buttons {
  background: #EAEBEC;
  color: #7f858b;
  cursor: default;
}
/* line 49, ../scss/components/utilities/_mixins.scss */
.disabled.buttons:after {
  content: "disabled";
}
/* line 54, ../scss/components/utilities/_mixins.scss */
.disabled.buttons:hover {
  border: 1px solid #ffffff;
}

/* line 79, ../scss/components/utilities/_mixins.scss */
.cancel:hover {
  border: 1px solid #ff440f;
}
/* line 82, ../scss/components/utilities/_mixins.scss */
.cancel:active {
  background: #ff6c42;
  color: #ffffff;
  transition: 0.1s;
}

/* line 79, ../scss/components/utilities/_mixins.scss */
.confirm:hover {
  border: 1px solid #45c16c;
}
/* line 82, ../scss/components/utilities/_mixins.scss */
.confirm:active {
  background: #6bce8b;
  color: #ffffff;
  transition: 0.1s;
}

/* line 79, ../scss/components/utilities/_mixins.scss */
.info:hover {
  border: 1px solid #32aacd;
}
/* line 82, ../scss/components/utilities/_mixins.scss */
.info:active {
  background: #5bbbd7;
  color: #ffffff;
  transition: 0.1s;
}

/* line 79, ../scss/components/utilities/_mixins.scss */
.disabled:hover {
  border: 1px solid #7f858b;
}
/* line 82, ../scss/components/utilities/_mixins.scss */
.disabled:active {
  background: #9a9ea3;
  color: #ffffff;
  transition: 0.1s;
}

/* line 46, ../scss/components/utilities/_mixins.scss */
.mint-green.main {
  background: #DEF4E5;
  color: #45c16c;
}
/* line 49, ../scss/components/utilities/_mixins.scss */
.mint-green.main:after {
  content: "mint-green";
}

/* line 46, ../scss/components/utilities/_mixins.scss */
.lilac.main {
  background: #DCE0F2;
  color: #475cbb;
}
/* line 49, ../scss/components/utilities/_mixins.scss */
.lilac.main:after {
  content: "lilac";
}

/* line 46, ../scss/components/utilities/_mixins.scss */
.sea-green.main {
  background: #DCF0EF;
  color: #4db3ae;
}
/* line 49, ../scss/components/utilities/_mixins.scss */
.sea-green.main:after {
  content: "sea-green";
}

/* line 46, ../scss/components/utilities/_mixins.scss */
.pale-orange.main {
  background: #FFE3DB;
  color: #ff440f;
}
/* line 49, ../scss/components/utilities/_mixins.scss */
.pale-orange.main:after {
  content: "pale-orange";
}

/* line 46, ../scss/components/utilities/_mixins.scss */
.latte-foam.main {
  background: #F8EDD0;
  color: #dba821;
}
/* line 49, ../scss/components/utilities/_mixins.scss */
.latte-foam.main:after {
  content: "latte-foam";
}

/* line 46, ../scss/components/utilities/_mixins.scss */
.light-gray.main {
  background: #EAEBEC;
  color: #7f858b;
}
/* line 49, ../scss/components/utilities/_mixins.scss */
.light-gray.main:after {
  content: "light-gray";
}

/* line 46, ../scss/components/utilities/_mixins.scss */
.cucumber.main {
  background: #C5E2CE;
  color: #499260;
}
/* line 49, ../scss/components/utilities/_mixins.scss */
.cucumber.main:after {
  content: "cucumber";
}

/* line 46, ../scss/components/utilities/_mixins.scss */
.powder-blue.main {
  background: #D6EEF5;
  color: #32aacd;
}
/* line 49, ../scss/components/utilities/_mixins.scss */
.powder-blue.main:after {
  content: "powder-blue";
}

/* line 46, ../scss/components/utilities/_mixins.scss */
.error.alerts {
  background: #FFE3DB;
  color: #ff440f;
}
/* line 49, ../scss/components/utilities/_mixins.scss */
.error.alerts:after {
  content: "error";
}

/* line 46, ../scss/components/utilities/_mixins.scss */
.warning.alerts {
  background: #F8EDD0;
  color: #dba821;
}
/* line 49, ../scss/components/utilities/_mixins.scss */
.warning.alerts:after {
  content: "warning";
}

/* line 46, ../scss/components/utilities/_mixins.scss */
.success.alerts {
  background: #DEF4E5;
  color: #45c16c;
}
/* line 49, ../scss/components/utilities/_mixins.scss */
.success.alerts:after {
  content: "success";
}

/* line 46, ../scss/components/utilities/_mixins.scss */
.message.alerts {
  background: #D6EEF5;
  color: #32aacd;
}
/* line 49, ../scss/components/utilities/_mixins.scss */
.message.alerts:after {
  content: "message";
}

/* line 1, ../scss/components/base/_base.scss */
section {
  margin: 80px 0;
}

/* line 5, ../scss/components/base/_base.scss */
body {
  padding: 20px;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 10, ../scss/components/base/_base.scss */
h1 {
  font-size: 39px;
  font-size: 2.4414375rem;
  line-height: 42px;
  line-height: 2.625rem;
}

/* line 14, ../scss/components/base/_base.scss */
h2 {
  font-size: 31px;
  font-size: 1.953125rem;
  line-height: 36px;
  line-height: 2.25rem;
}

/* line 18, ../scss/components/base/_base.scss */
h3 {
  font-size: 25px;
  font-size: 1.5625rem;
  line-height: 30px;
  line-height: 1.875rem;
}

/* line 22, ../scss/components/base/_base.scss */
h4 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem;
}

/* line 26, ../scss/components/base/_base.scss */
h5 {
  font-size: 13px;
  font-size: 0.8rem;
  line-height: 18px;
  line-height: 1.125rem;
}

/* line 30, ../scss/components/base/_base.scss */
h6 {
  font-size: 10px;
  font-size: 0.64rem;
  line-height: 12px;
  line-height: 0.75rem;
}

/* line 35, ../scss/components/base/_base.scss */
body {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
}

/* line 21, ../../bower_components/susy/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 3, ../scss/components/layout/_layout.scss */
.container {
  max-width: 1600px;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../bower_components/susy/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 7, ../scss/components/layout/_layout.scss */
.color-palette {
  width: 23.7288135593%;
  float: left;
  margin-bottom: 1.6949152542%;
}
/* line 66, ../../bower_components/susy/sass/susy/language/susy/_gallery.scss */
.color-palette:nth-child(4n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
/* line 66, ../../bower_components/susy/sass/susy/language/susy/_gallery.scss */
.color-palette:nth-child(4n + 2) {
  margin-left: 25.4237288136%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../bower_components/susy/sass/susy/language/susy/_gallery.scss */
.color-palette:nth-child(4n + 3) {
  margin-left: 50.8474576271%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../bower_components/susy/sass/susy/language/susy/_gallery.scss */
.color-palette:nth-child(4n + 4) {
  margin-left: 76.2711864407%;
  margin-right: -100%;
  clear: none;
}

/* line 12, ../scss/components/layout/_layout.scss */
.alerts {
  width: 49.1525423729%;
  float: left;
  margin-bottom: 1.6949152542%;
}
/* line 66, ../../bower_components/susy/sass/susy/language/susy/_gallery.scss */
.alerts:nth-child(2n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
/* line 66, ../../bower_components/susy/sass/susy/language/susy/_gallery.scss */
.alerts:nth-child(2n + 2) {
  margin-left: 50.8474576271%;
  margin-right: -100%;
  clear: none;
}

/* line 9, ../scss/components/utilities/_mixins.scss */
.app-colors:after {
  content: "";
  display: table;
  clear: both;
}

/* line 7, ../scss/components/_custom.scss */
.app-headers .body-copy {
  margin-top: 30px;
}

/* line 12, ../scss/components/_custom.scss */
.style-guide-heading {
  font-size: 30px;
  font-size: 3rem;
  padding-bottom: 30px;
  color: lightgray;
}

/*# sourceMappingURL=main.css.map */
