@include border-box-sizing;

.container {
	@include container();
}

.app-headers {
	@include cf;
}

.header-wrap {
	margin-bottom: 20px;
}

.header-wrap, .body-copy {
	@include span(5 of 12);
	@include breakpoint ($mobile $tablet) {
		@include span(6);
	}
	@include breakpoint(max-width $mobile) {
		@include span(12);
	}
}


.color-palette {
	@include breakpoint(min-width $tablet) {
		@include gallery(3);
		margin-bottom: gutter();
	}
	@include breakpoint ($mobile $tablet) {
		@include gallery(6);
		margin-bottom: gutter();
	}
	@include breakpoint(max-width $mobile) {
		@include full;
	}
}

.button-wrap {
	@include cf;
}

.buttons {
	@include breakpoint($mobile $tablet) {
		@include gallery(6);
		margin-bottom: gutter();
	}
	@include breakpoint(max-width $mobile) {
		@include full;
		margin-bottom: gutter();
	}
}

.alerts {
	@include breakpoint(min-width $mobile) {
		@include gallery(6);
		margin-bottom: gutter();
	}
	@include breakpoint(max-width $mobile) {
		@include full;
		margin-bottom: gutter();
	}
}